* {
  margin: 0;
  padding: 0;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body{
background:#f5f5f5;
}

header{
display:flex;
align-items: center;
justify-content: space-around;
background-color: #000;
}

header h1{
color:#fff;
padding:2rem;
}

nav ul li{
list-style: none;
display: inline-block;
}

nav ul li a{
text-decoration: none;
color: #fff;
padding: 0 15px;

}

.container {
  text-align: center;
  background: #f5f5f5;
}

.header {
  padding-top: 30px;
  color: #444;
  font-size: 20px;
  margin: auto;
  line-height: 50px;
}

.sub-container {
  max-width: 1200px;
  margin: auto;
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px;
  padding: 22px;
  max-width: 30%;
  cursor: pointer;
  transition: 0.4s;
  box-sizing: border-box;
  background: #ddd;
  border-radius: 12px;
}

.card:hover{
scale: 1.05;
background:hsl(0, 0%, 77%);
}

.name {
  padding: 12px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

.about {
  margin: 20px 0;
  font-weight: lighter;
  color: #4e4e4e;
}

.container2{
display: grid;
grid-template-columns: repeat(3, 1fr); 
grid-auto-rows: minmax(200px, auto); 
margin:1rem;
background:#1E1E1E;
border-radius: 100px;
}

@media (max-width: 768px) { 
.container2 {
  grid-template-columns: 1fr; 
}
}


.left{
background:#ddd;
font-size: 75px;
padding:1rem;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
}

.middle,
.right{
background:hsl(0, 0%, 77%);
display:flex;
flex-direction: column;
padding: 1rem;
padding-bottom:100px;
}


.right{
background:hsl(0, 0%, 67%);
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
}

.right:hover,
.middle:hover{
background:hsl(0, 0%, 57%);
}

.left:hover{
background:hsl(0, 0%, 67%);
}

.subtitle{
color:#1E1E1E;
padding: 1rem 0;
}

.article p{
padding: 1rem;
color:#404040;
}

.code-container{
height:120px;
width: 100px;
}

@media screen and (max-width: 600px) {
  .card {
      max-width: 100%;
  }
}